<div class="currency-converter" [formGroup]="currencyForm">

  <header *ngIf="currencyForm.get('coefficient').value">
    <h2 class="currency-converter__title">1{{ currencyForm.get('fromType').value }} equals {{ valueForOneItem }}</h2>
  </header>

  <section>

    <app-converter
      [selectName]="'Currency'"
      [converterForm]="currencyForm"
      [typeList]="currencyList"
      [valueList]="availableCurrencies"
    ></app-converter>

    <!--  CHART-->
    <ng-container *ngIf="showChart">
      <mat-button-toggle-group formControlName="period" aria-label="Period" class="currency-converter__chart-control">
        <mat-button-toggle [value]="Period.week">Last {{ Period.week }} days</mat-button-toggle>
        <mat-button-toggle [value]="Period.month">Last {{ Period.month }} days</mat-button-toggle>
        <mat-button-toggle [value]="Period.year">Last {{ Period.year }} days</mat-button-toggle>
      </mat-button-toggle-group>
      <div *ngIf="currencyForm.get('fromType').valid && currencyForm.get('toType').valid" class="currency-converter__chart">
        <div style="display: block">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  chartType="line">
          </canvas>
        </div>
      </div>
    </ng-container>
    <!-- / CHART-->
  </section>

</div>
