.currency-converter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 49px);

  &__title {
    margin: 16px 0 0;
  }

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin-top: 16px;
  }

  &__form-block {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    max-width: 500px;

    > mat-form-field {
      max-width: 45vw;
    }
  }

  &__switch-btn {
    margin-bottom: 18px;
  }

  &__chart-control {
    height: 45px;
    min-height: 45px;
  }

  &__chart {
    height: 100%;
    width: 100vw;
    overflow: hidden;

    > * {
      height: 90%;
    }
  }
}
