<div class="currency-converter" [formGroup]="currencyForm">

  <h1 *ngIf="coefficient">1{{ currencyForm.get('fromCurrency').value }} equals {{ coefficient.toFixed(2) + currencyForm.get('toCurrency').value }}</h1>

  <div>
    <mat-form-field appearance="outline">
      <input aria-label="convert-from" formControlName="fromValue" type="number" min="0" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="fromCurrency">
        <mat-option *ngFor="let currency of currencyList" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" (click)="switchValues()">Switch</button>

  <div>
    <mat-form-field appearance="outline">
      <input aria-label="convert-from" formControlName="toValue" type="number" min="0" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="toCurrency">
        <mat-option *ngFor="let currency of currencyList" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!--  CHART-->
  <ng-container *ngIf="showChat">
    <mat-button-toggle-group formControlName="period" aria-label="Period">
      <mat-button-toggle [value]="Period.week">Last {{ Period.week }} days</mat-button-toggle>
      <mat-button-toggle [value]="Period.month">Last {{ Period.month }} days</mat-button-toggle>
      <mat-button-toggle [value]="Period.year">Last {{ Period.year }} days</mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="currencyForm.get('fromCurrency').valid && currencyForm.get('toCurrency').valid">
      <div style="display: block">
        <canvas baseChart
                height="500" width="500"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                chartType="line">
        </canvas>
      </div>
    </div>
  </ng-container>

  <!-- / CHART-->
</div>
