<div class="length-unit-converter">

  <header *ngIf="initialValue && calculatedResult && selectedFirstDropdownValue && selectedSecondDropdownValue">
    <h2 class="length-unit-converter__title">{{ initialValue }} {{selectedFirstDropdownValue}} equal {{calculatedResult}} {{selectedSecondDropdownValue}}</h2>
  </header>

  <section>
    <div class="length-unit-converter__form-block">
      <mat-form-field appearance="outline">
        <input aria-label="convert-from" [(ngModel)]="initialValue" (ngModelChange)="calculateResult()" type="number"
               min="0" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Length unit</mat-label>
        <mat-select #matSelectFirst [(ngModel)]="initUnits" (selectionChange)="calculateResult()">
          <mat-option *ngFor="let unitlength of lengthUnitsConverterItems" [value]="unitlength.value">
            {{ unitlength.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" class="length-unit-converter__change-btn" (click)="swapUnits()">Change
    </button>

    <div class="length-unit-converter__form-block">
      <mat-form-field appearance="outline">
        <input aria-label="convert-from" [(ngModel)]="calculatedResult" type="number" min="0" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Length unit</mat-label>
        <mat-select #matSelectSecond [(ngModel)]="calculatedUnits" (selectionChange)="calculateResult()">
          <mat-option *ngFor="let unitlength of lengthUnitsConverterItems" [value]="unitlength.value">
            {{ unitlength.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </section>
</div>
